{{define "layout"}}
<!DOCTYPE html>
<html {{if .Meta.Lang }}lang="{{ .Meta.Lang }}"{{end}}>
    <head>
      {{if .Meta.EnableGoogleAnalytics }}
      {{template "gtag" .}}
      {{end}}

      <title>{{.Meta.Title}}</title>

      <link rel="shortcut icon" href="/static/favicon.ico">
      <link rel="canonical" href="{{ .Meta.CanonicalURL }}" />

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{if .Meta.Description }}
      <meta name="description" content="{{ .Meta.Description }}">
      {{end}}

      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@{{ index .Constants.TwitterHandle .Meta.Lang }}" />
      <meta name="twitter:creator" content="@{{ index .Constants.TwitterHandle .Meta.Lang }}" />
      <meta name="twitter:title" content="{{.Meta.Title}}" />
      {{if .Meta.Description }}
      <meta name="twitter:description" content="{{ .Meta.Description }}">
      {{end}}
      <meta name="twitter:image" content="{{ .Meta.SocialImageURL }}" />

      <meta property="og:url" content="{{ .Meta.CanonicalURL }}" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="{{.Meta.Title}}" />
      {{if .Meta.Description }}
      <meta property="og:description" content="{{ .Meta.Description }}">
      {{end}}
      <meta property="og:image" content="{{ .Meta.SocialImageURL }}" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.9.4/css/uikit.min.css" />
      <link async rel="stylesheet" href="/static/css/main.css" />

      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.9.4/js/uikit.min.js"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.9.4/js/uikit-icons.min.js"></script>
      <script>
        function initPetitionBanner() {
          $(function() {
            $("#petition-banner-close").click(function() {
              $('#petition-banner').remove();
              document.cookie = "{{ .Constants.DismissBannerCookieName }}=true; secure=true; path=/";
            })
          })
        }
      </script>
      <script async src="https://code.jquery.com/jquery-3.6.0.slim.min.js" onload="initPetitionBanner()"></script>

  </head>
  <body>
      {{template "header" .}}
      {{- if and (ne .Meta.TemplateName "index_en") .Meta.EnablePetitionBanner }}
      <div class="uk-alert uk-alert-primary banner" id="petition-banner">
        <button type="button" uk-close class="uk-float-right" id="petition-banner-close"></button>
        {{ $.ReplaceURLPattern ($.T "Sign_petition_prompt") "petition_url" $.Constants.PetitionURL }}
      </div>
      {{- end }}
      <div class="site-content">
        {{template "body" .}}
      </div>
      {{- if ne .Meta.TemplateName "index_en" }}
      {{template "footer" .}}
      {{- end }}
  </body>
</html>
{{end}}
