{{define "article_list"}}

{{ $viewModel := .Body }}
{{ $pageIndex := $viewModel.CurrentPageIndex }}
{{ $articles := $viewModel.Articles }}

<section class="articles-list">
    {{ range $articles }}
        <article class="uk-card uk-card-default uk-margin-bottom">
            <div class="uk-card-body uk-padding-remove-bottom">
                <div class="uk-margin-small-bottom">
                    <div class="uk-hidden@m uk-margin-small-bottom">
                        <a href="{{ .URL }}" style="display: contents">
                            <img style="width: 100%; object-fit: cover; max-height: 200px" src="{{ .Illustration.Md }}"/>
                        </a>
                    </div>
                    <div class="uk-flex">
                        <a href="{{ .URL }}" class="uk-visible@m" style="display: contents; width: 30%">
                            <img style="width: 30%; object-fit: cover; max-height: 200px" src="{{ .Illustration.Md }}"/>
                        </a>
                        <div class="uk-margin-right uk-visible@m"></div>
                        <div>
                            <a href="{{ .URL }}" style="text-decoration: none">
                                <h3 class="uk-card-title uk-margin-small-bottom">{{ .Title }}</h3>
                            </a>
                            <span class="uk-display-block uk-margin-none-top">
                                {{- range .Tags }}
                                    {{ $.Tag . }}
                                {{- end }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="uk-margin-small-top">
                    {{ .HTMLShort }}
                </div>
            </div>

            <div class="uk-card-footer">
                <a href="{{ .URL }}" class="uk-button uk-button-text">{{ $.T "Read_more" }}</a>
            </div>
        </article>
    {{ end }}
    {{ template "pagination" $viewModel.Pagination }}
</section>

{{ end }}
