{{define "footer"}}

<footer class="uk-background-muted site-footer">
    <div class="site-footer-content uk-flex uk-flex-center">
        <a href="{{ index .Constants.FacebookURL .Meta.Lang }}" class="uk-hidden@s uk-icon uk-margin-small-right" uk-icon="facebook"></a>
        {{ if not (eq (index .Constants.BlueskyURL .Meta.Lang) "") }}<a href="{{ index .Constants.BlueskyURL .Meta.Lang }}" class="uk-hidden@s uk-icon uk-margin-small-right" uk-icon="bluesky"></a>{{ end }}
        <span class="uk-hidden@s">&#xb7;&nbsp;</span>
        <a href="{{ .MustGetURL "articles" }}">{{ .T "Articles" }}</a>
        &nbsp;&#xb7;&nbsp;
        <a href="mailto:{{ .Constants.Email }}">{{ .T "Contact" }}</a>
    </div>
</footer>

{{end}}
