{{define "header"}}
<header id="header" class="site-header" uk-sticky="media: 640">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar layout-width">
            <div class="uk-navbar-left">
                {{ if .Meta.DisableHeaderLinks }}
                <a class="uk-navbar-item uk-logo" href="/">
                {{ else }}
                <a class="uk-navbar-item uk-logo" href="{{ .Meta.RootURL }}">
                {{ end }}
                    <img class="uk-margin-small-right" src="/static/images/logo.svg" width="90" title="{{ .Constants.SiteName }}" alt="{{ .Constants.SiteName }}">
                </a>
            </div>
            {{ if not .Meta.DisableHeaderLinks }}
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav uk-visible@s">
                    <li><a href="{{ .MustGetURL "articles" }}">{{ .T "Articles" }}</a></li>
                    <li><a href="{{ .MustGetURL "tags" }}">{{ .T "Tags" }}</a></li>
                    <li><a href="{{ .MustGetURL "about" }}">{{ .T "About" }}</a></li>
                    <!-- <li class="uk-active"><a aria-current="page" href="/"><span class="translation_missing" title="translation missing: fr.Articles">Articles</span></a></li> -->
                </ul>
            </div>
            <div class="uk-navbar-right">
                <div class="uk-navbar-item uk-visible@s">
                    <a href="{{ index .Constants.FacebookURL .Meta.Lang }}" class="uk-icon uk-margin-small-right" uk-icon="facebook"></a>
                    {{ if not (eq (index .Constants.BlueskyURL .Meta.Lang) "") }}<a href="{{ index .Constants.BlueskyURL .Meta.Lang }}" class="uk-icon uk-margin-small-right" uk-icon="bluesky"></a>{{ end }}
                    <a href="{{ .Constants.GithubURL }}" class="uk-icon" uk-icon="github"></a>
                </div>
                <div class="uk-button uk-hidden@s">
                    <span class="uk-margin-small-right">Menu</span>
                    <span uk-navbar-toggle-icon></span>
                </div>
                <div uk-dropdown>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="{{ .MustGetURL "articles" }}">{{ .T "Articles" }}</a></li>
                        <li><a href="{{ .MustGetURL "tags" }}">{{ .T "Tags" }}</a></li>
                        <li><a href="{{ .MustGetURL "about" }}">{{ .T "About" }}</a></li>
                        <li class="uk-active uk-margin-top uk-child-width-expand uk-text-center" uk-grid>
                            <div><a href="{{ index .Constants.FacebookURL .Meta.Lang }}" class="uk-icon" uk-icon="facebook"></a></div>
                            {{ if not (eq (index .Constants.BlueskyURL .Meta.Lang) "") }}<div><a href="{{ index .Constants.BlueskyURL .Meta.Lang }}" class="uk-icon" uk-icon="bluesky"></a></div>{{ end }}
                            <div><a href="{{ .Constants.GithubURL }}" class="uk-icon" uk-icon="github"></a></div>
                        </li>
                    </ul>
                </div>
            </div>
            {{ end }}
        </nav>
    </div>
</header>
{{end}}
