<h1><%= t :Recent_articles%></h2>

<section class="articles-list">
    <% Rails.application.articles[params[:locale]].each do |key, article| %>
        <article class="uk-card uk-card-body uk-card-default article-excerpt">
            <a href="<%= article_url(article.id) %>">
                <h2 class="uk-card-title"><%= article.title %></h2>
            </a>
            <div class=""><%= article.content_html_short %></div>
        </article>
    <% end %>
</section>
