<h1><%= t :Posts%></h2>

<section>
    <% Rails.application.articles.each do |key, article| %>
        <article>
            <h2><%# article.title %></h2>
            <div><%# article.html_content %></div>
        </article>
    <% end %>
</section>

<%= t :coming_soon %>

<br/>
<br/>

<a href="" uk-totop><%= t :Back_to_top %></a>