<h1><%= t :Articles%></h2>

<section>
    <% Rails.application.articles[params[:locale]].each do |key, article| %>
        <article class="article-excerpt">
            <h2><%# article.title %></h2>
            <div><%# article.html_content_short %></div>
        </article>
    <% end %>
</section>

<%= t :coming_soon %>

<br/>
<br/>

<a href="" uk-totop><%= t :Back_to_top %></a>