<h1><%= t :Recent_articles%></h2>

<section class="articles-list">
    <% Rails.application.articles[params[:locale]].each do |key, article| %>
        <article class="article-excerpt">
            <a href="<%= article_url(article.id) %>">
                <h2><%= article.title %></h2>
            </a>
            <div><%= article.content_html_short %></div>
        </article>
    <% end %>
</section>
