<footer class="uk-background-muted site-footer">
    <div class="site-footer-content">
        Icon made by <a href="https://www.freepik.com" rel="nofollow">Freepik</a> from <a href="https://www.flaticon.com" rel="nofollow">www.flaticon.com</a>
    </div>
</footer>