<footer class="site-footer">
    <div class="site-footer-content">
        Icon made by <a href="https://www.freepik.com">Freepik</a> from <a href="https://www.flaticon.com">www.flaticon.com</a>
    </div>
</footer>