{{define "body"}}
<style>
    p {
        text-align: justify;
    }
</style>

<h1>À propos de Planet OCD</h1>

<h2>Notre Mission</h2>
<p>
    Planet OCD offre des articles de haute qualité, traduits avec soin et sélectionnés pour leur pertinence, à destination de tous : patients, familles, professionnels de santé, et toute personne désireuse de comprendre les Troubles Obsessionnels Compulsifs (TOC).
</p>

<h2>Pourquoi Votre Soutien Est Important</h2>
<p>
    Chaque don que vous faites permet d'aider de nouvelles personnes. Votre contribution nous permet de :
    <ul>
        <li>Maintenir et développer cette plateforme d'information essentielle</li>
        <li>Traduire des articles avec l'aide de professionnels, garantissant précision et accessibilité</li>
        <li>Offrir de l'espoir et des ressources à ceux qui en ont le plus besoin</li>
        <li>Briser le silence et la stigmatisation autour des TOC</li>
    </ul>
</p>
<p>
    <strong>Votre don n'est pas un simple geste financier. C'est un acte de compassion, de compréhension, et de soutien envers une communauté trop longtemps laissée sans resources.</strong>
</p>

<p>
    <a href="{{ .Constants.DonateURL }}" style="display: block; width: 200px; margin: 20px auto; padding: 10px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-weight: bold;">
    FAIRE UN DON MAINTENANT
    </a>
</p>

<h2>D'Autres Façons de Contribuer</h2>
<p>
    Votre soutien va au-delà des dons financiers :
    <ul>
        <li>Améliorez nos traductions : <a href="mailto:{{ .Constants.Email }}">Contactez-nous</a></li>
        <li>Compétences techniques ? Rejoignez notre équipe sur <a href="{{ .Constants.GithubURL }}">GitHub</a></li>
        <li>Partagez nos articles, faites connaître notre mission sur les réseaux sociaux</li>
    </ul>
</p>
<p>
    Ensemble, nous pouvons transformer la compréhension des TOC, un article à la fois.
</p>


<h2>Contact</h2>
<p>
    Par email: <a href="mailto:{{ .Constants.Email }}">{{ .Constants.Email }}</a>
</p>

<img class="uk-margin-auto uk-display-block uk-margin-large" width="20%" src="/static/images/planet.svg" alt="planeta"/>

{{end}}
