{{define "body"}}

<h1>Acerca de Planet OCD</h1>

<p>
    Planet OCD es una base de conocimientos sobre el Trastorno Obsesivo Compulsivo (TOC).
</p>

<h2>¿Quiénes somos?</h2>

<p>
    Me llamo Aurélien, tengo 36 años y sufro de TOC desde los 13 años. Soy francés pero vivo en Estados Unidos desde hace casi 10 años. He visto la gran cantidad de recursos en línea sobre el TOC en la web de habla inglesa, y también conozco la escasez de información en línea sobre el TOC en francés. Tener acceso a una información variada, rica y de calidad es esencial para quienes padecen el TOC o para sus seres queridos. Por eso decidí contribuir a mi manera a la difusión de información creando este sitio.
</p>

<h2>¿Por qué Planet OCD?</h2>

<p>
    La web de habla inglesa está llena de recursos sobre el TOC, pero la web de habla hispana tiene dificultades para mantenerse al día. Lamentablemente, los artículos en español son escasos y difíciles de encontrar para las personas con TOC. Planet OCD pretende ayudar a resolver esta disparidad entre la web inglesa y la hispana.
</p>

<p>
    Planeta TOC es para todos, tanto para el público en general como para los profesionales. Nuestro objetivo es facilitar el acceso a una información variada, rica y de calidad sobre el TOC en español. Los artículos de Planet OCD están traducidos del inglés y se eligen según su relevancia y popularidad.
</p>


<h2>¿Cómo ayudar?</h2>

<p>
    Planeta TOC pone en línea de forma gratuita, y de forma voluntaria, artículos traducidos del inglés al español y a otros idiomas. Puede ayudar sugiriendo mejoras en la traducción: actualmente se realizan principalmente mediante motores de traducción automática (Google Translate o DeepL), por lo que pueden mejorarse mediante una cuidadosa revisión humana, por parte de quienes dominan el inglés o el americano: ¡su contribución es bienvenida!
</p>

<p>
    También puede ayudar haciendo un donativo (<a href="{{ .Constants.DonateURL }}">pulse aquí para hacer un donativo</a>). Esta donación sólo servirá, lo prometo, para los objetivos del sitio web de Planet OCD porque Planet OCD es una organización sin ánimo de lucro. En particular, las donaciones se utilizarán para mejorar la traducción de los artículos mediante traductores humanos profesionales, así como para cubrir los costes de alojamiento y alquiler del nombre de dominio planetocd.org.
</p>

<p>
    Si tienes conocimientos de programación (Go), gráficos (css) o comunicación (redes sociales) y quieres ayudar, ponte en contacto conmigo en <a href="mailto:{{ .Constants.Email }}">{{ .Constants.Email }}</a>, o visita nuestra <a href="{{ .Constants.GithubURL }}">página de GitHub</a>. Cualquier ayuda es bienvenida :)
</p>

<p>
    Por último, una buena forma de ayudar es promocionar el sitio compartiendo los artículos en las redes sociales.
</p>

<img class="uk-margin-auto uk-display-block uk-margin-large" width="20%" src="/static/images/planet.svg" alt="planeta"/>

{{end}}
