{{define "body"}}
<style>
    p {
        text-align: justify;
    }
</style>

<h1>A propos</h1>

<p>
    Planet OCD est une base de connaissances sur les Troubles Obsessionnels Compulsifs (TOC).
</p>

<h2>Qui sommes-nous ?</h2>

<div>
    <img class="uk-margin-left" style="float: right; height: 150px" src="/static/images/aurelien.jpeg"/>
    Je m'appelle Aurélien et je suis atteint de TOC depuis l'âge de 13 ans. Je suis Français mais je vis aux USA. J'ai pu constater la grande richesse des ressources en ligne sur les TOC sur le web anglophone, et je connais par ailleurs la pauvreté des informations en ligne sur les TOC en français. Avoir accès à une information variée, riche, et de qualité, est essentiel pour celles et ceux qui souffrent de TOC ou pour leur proches. C'est pourquoi j'ai décidé de contribuer à ma façon à la diffusion d'informations en créant ce site.
</div>

<h2>Pourquoi Planet OCD ?</h2>

<p>
    Le web anglophone regorge de ressources sur les TOC, mais le web francophone peine à suivre. Les articles en français sont malheureusement peu nombreux, et il est difficile pour les personnes souffrant de TOC d'avoir accès aux bonnes informations. Planet OCD a pour but d'aider à résoudre cette disparité entre le web anglophone et le web francophone.
</p>

<p>
    Planet OCD est destiné à tous, au grand public comme aux professionnels. Nous avons pour but de rendre accessible une information variée, riche et de qualité sur les TOC en langue française. Les articles sur Planet OCD sont traduits depuis l'anglais et sont choisis en fonction de leur pertinence et de leur popularité.
</p>


<h2>Comment aider ?</h2>

<p>
    Planet OCD met en ligne gratuitement, de manière bénévole, des articles traduits de l'anglais vers le français et d'autres langues. Vous pouvez aider en proposant des améliorations de traduction : celles-ci sont actuellement effectuées principalement par des moteurs de traductions automatiques (Google Translate ou DeepL), et restent donc améliorables par une relecture humaine, par <b>ceux qui maîtrisent l'anglais. Votre contribution est la bienvenue !</b> Contactez-moi à <a href="mailto:{{ .Constants.Email }}">{{ .Constants.Email }}</a>.
</p>

<p>
    Vous pouvez également aider en faisant un don (<a href="{{ .Constants.DonateURL }}">cliquez ici pour faire un don</a>). Ce don servira uniquement, je m'y engage, à servir les objectifs du site Planet OCD car Planet OCD est à but non-lucratif. En particulier, les dons serviront à améliorer la traduction des articles en utilisant les services de traducteurs humains professionnels, ainsi qu'à couvrir les frais d'hébergement et de location du nom de domaine planetocd.org.
</p>

<p>
    Si vous possédez des compétences en programmation (Go), en graphisme (css), ou en communication (réseaux sociaux) et que vous voulez aider, n'hésitez pas à me contacter à l'adresse <a href="mailto:{{ .Constants.Email }}">{{ .Constants.Email }}</a>, ou à visiter notre <a href="{{ .Constants.GithubURL }}">page GitHub</a>. Toute aide est bienvenue :)
</p>

<p>
    Enfin, une excellente façon d'aider est de promouvoir le site en partageant des articles sur les réseaux sociaux.
</p>

<img class="uk-margin-auto uk-display-block uk-margin-large" width="20%" src="/static/images/planet.svg" alt="planeta"/>


{{end}}
