{{define "body"}}

<h1>{{ .T "About" }}</h1>

<p>
    Planeta OCD es una base de conocimiento sobre los Trastornos Obsesivos Compulsivos (TOC).
</p>

<h2>¿Por qué Planeta TOC?</h2>

<p>
    La web inglesa está llena de recursos sobre el TOC, pero la web francesa está luchando por mantenerse al día. Desafortunadamente, hay pocos artículos en francés, y es difícil para las personas con TOC acceder a la información correcta. El Planeta TOC tiene como objetivo ayudar a resolver esta disparidad entre la web inglesa y la francesa.
</p>

<p>
    Los artículos sobre el Planeta TOC se traducen del inglés y se eligen según su relevancia y popularidad.
</p>

<h2>{{ .T "Donate" }}</h2>

<p>
    Planeta TOC es una organización sin ánimo de lucro. Puedes contribuir al Planeta OCD haciendo una donación. <a href="{{ .Constants.DonateURL }}">Haz clic aquí</a> para hacer una donación.
</p>

{{end}}
