{{define "body"}}

<h1>{{ .T "About" }}</h1>

<p>
    Planet OCD est une base de connaissances sur les Troubles Obsessionnels Compulsifs (TOC).
</p>

<h2>Pourquoi Planet OCD ?</h2>

<p>
    Le web anglophone regorge de resources sur les TOC, mais le web francophone peine à suivre. Les articles en français sont malheureusement peu nombreux, et il est difficile pour les personnes souffrant de TOC d'avoir accès aux bonnes informations. Planet OCD a pour but d'aider à résoudre cette disparité entre le web anglophone et francophone.
</p>

<p>
    Les articles sur Planet OCD sont traduits depuis l'anglais et sont choisis en fonction de leur pertinence et de leur popularité.
</p>

<h2>{{ .T "Donate" }}</h2>

<p>
    Planet OCD est une organisation à but non-lucratif. Vous pouvez contribuer à Planet OCD en faisant un don. <a href="{{ .Constants.DonateURL }}">Cliquez ici pour faire un don</a>
</p>

{{end}}
