{{define "body"}}

{{ $viewModel := .Body }}
{{ $pageIndex := $viewModel.CurrentPageIndex }}
{{ $article := $viewModel.Article }}
{{ $page := index $article.Pages $pageIndex }}

<a id="top" class="uk-button uk-button-text" href="{{ .MustGetURL "articles" }}">&#171; {{ .T "All_articles" }}</a>

{{ with $article}}

<article class="uk-article article">
    {{ if .Illustration }}
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-inline" uk-img="" data-src="{{ .Illustration.Lg }}"></div>
    {{ end }}
    <h1 class="uk-article-title uk-margin uk-margin-small">{{ .Title }}</h1>
    <div class="uk-article-meta">
        <label>{{ $.T "Original article" }} </label>
        <a href="{{ .OriginalURL }}" target="_blank" class="external">{{ .OriginalTitle }}</a>
        {{- if .OriginalAuthor }}
        by <em>{{ .OriginalAuthor }}</em>
        {{- end }}
        {{- if and .Translators .ShowTranslators}}
        <br>
        {{ $.T "Translated_by" }} </label>
        {{- range $index, $t := .Translators -}}
            {{ if $index -}},{{ end }}
            {{ $t -}}
        {{- end }}
        {{- end }}
        <span class="uk-display-block uk-margin-small-top">
            {{- range $article.Tags }}
                {{ $.Tag . }}
            {{- end }}
        </span>
        <!-- on <a href="{{ .OriginalURL }}" target="_blank">{{ .OriginalURL }}</a> -->
    </div>

    <section class="uk-margin-medium-top">
        {{ $page.HTML }}
    </section>
    <!-- <%=
    <section style="text-align: right">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ $.Meta.SocialURL }}&layout=button&size=large&width=112&height=28"
                width="112" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
           class="twitter-share-button"
           data-size="large"
           data-text="{{ .Title }}"
           data-url="{{ $.Meta.SocialURL }}"
           data-via="{{ $.Constants.TwitterHandle }}"
           data-lang="{{ .Lang }}"
           data-dnt="true"
           data-show-count="false">
         </a>
         <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
    %> -->

    {{ template "pagination" $viewModel.Pagination }}

    <!--
    <section class="uk-margin-top uk-grid-small uk-child-width-auto">
        <a class="uk-button uk-button-text" href="{{ $.MustGetURL "articles" }}">&#171; {{ $.T "All_articles" }}</a>
    </section>
    -->

</article>

{{- if $viewModel.Suggestions }}
<h4 class="uk-heading-divider" style="margin-top: 20px">{{ $.T "You may also like" }}</h4>
<ul class="uk-display-block uk-padding-remove-left" uk-margin>
    {{- range $viewModel.Suggestions }}
    <li class="uk-active uk-link-reset uk-flex uk-flex-middle">
        <div style="flex-shrink: 0; width: 100px; height: 60px" class="uk-flex uk-flex-middle">
            <a href="{{ .URL }}">
                <img style="object-fit: cover" src="{{ .Illustration.Sm }}" width="100" alt="">
            </a>
        </div>
        <div class="uk-margin-left uk-overflow-auto">
            <div>
                <a href="{{ .URL }}">
                    {{ .Title }}
                </a>
            </div>
            <div>
                {{- range .Tags }}
                    {{ $.Tag . }}
                {{- end }}
            </div>
        </div>
    </li>
    {{- end }}
</ul>
{{- end }}

{{- if ne .Lang "fr" }}
<section class="uk-background-muted uk-padding-small uk-text-center uk-margin-top">
    <div><i>{{ $.Replace ($.ReplaceEmail ($.T "Need_help_prompt")) "#email#" $.Constants.Email 1 }}</i></div>
</section>
{{- end }}

{{end}}
{{end}}

