{{define "body"}}


{{ $viewModel := .Body }}
{{ $pageIndex := $viewModel.CurrentPageIndex }}
{{ $article := $viewModel.Article }}
{{ $page := index $article.Pages $pageIndex }}

<a id="top" class="uk-button uk-button-text" href="{{ .MustGetURL "articles" }}">&#171; {{ .T "All_articles" }}</a>

{{ with $article}}


<article class="uk-article article">
    {{ if .Illustration }}
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-inline" uk-img="" data-src="{{ .Illustration.Lg }}"></div>
    {{ end }}
    <h1 class="uk-article-title uk-margin uk-margin-small">{{ .Title }}</h1>
    <div class="uk-article-meta">
        <label>{{ $.T "Original article" }} </label>
        <a href="{{ .OriginalURL }}" target="_blank" class="external">{{ .OriginalTitle }}</a>
        {{- if .OriginalAuthor }}
        by <em>{{ .OriginalAuthor }}</em>
        {{- end }}
        {{- if and .Translators .ShowTranslators}}
        <br>
        {{ $.T "Translated_by" }} </label>
        {{- range $index, $t := .Translators -}}
            {{ if $index -}},{{ end }}
            {{ $t -}}
        {{- end }}
        {{- end }}
        <span class="uk-display-block uk-margin-small-top">
            {{- range $article.Tags }}
                {{ $.Tag . }}
            {{- end }}
        </span>
        <!-- on <a href="{{ .OriginalURL }}" target="_blank">{{ .OriginalURL }}</a> -->
    </div>

    <section class="uk-margin-medium-top">
        {{ $page.HTML }}
    </section>
    <!-- <%=
    <section style="text-align: right">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ $.Meta.SocialURL }}&layout=button&size=large&width=112&height=28"
                width="112" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
           class="twitter-share-button"
           data-size="large"
           data-text="{{ .Title }}"
           data-url="{{ $.Meta.SocialURL }}"
           data-via="{{ $.Constants.TwitterHandle }}"
           data-lang="{{ .Lang }}"
           data-dnt="true"
           data-show-count="false">
         </a>
         <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
    %> -->

    {{ template "pagination" $viewModel.Pagination }}

    <!--
    <section class="uk-margin-top uk-grid-small uk-child-width-auto">
        <a class="uk-button uk-button-text" href="{{ $.MustGetURL "articles" }}">&#171; {{ $.T "All_articles" }}</a>
    </section>
    -->

</article>

<p uk-margin>
    <a class="uk-button uk-button-default" href="#modal-group-prompt-username" uk-toggle onclick="onClickLike()">{{ $.T "This article helped me" }}</a>
</p>
<p>
    <span id="like-count">{{ $viewModel.LikesText $.Meta.Lang }}</span>
</p>

{{- if $viewModel.Suggestions }}
<h4 class="uk-heading-divider" style="margin-top: 20px">{{ $.T "You may also like" }}</h4>
<ul class="uk-display-block uk-padding-remove-left" uk-margin>
    {{- range $viewModel.Suggestions }}
    <li class="uk-active uk-link-reset uk-flex uk-flex-middle">
        <div style="flex-shrink: 0; width: 100px; height: 60px" class="uk-flex uk-flex-middle">
            <a href="{{ .URL }}">
                <img style="object-fit: cover" src="{{ .Illustration.Sm }}" width="100" alt="">
            </a>
        </div>
        <div class="uk-margin-left uk-overflow-auto">
            <div>
                <a href="{{ .URL }}">
                    {{ .Title }}
                </a>
            </div>
            <div>
                {{- range .Tags }}
                    {{ $.Tag . }}
                {{- end }}
            </div>
        </div>
    </li>
    {{- end }}
</ul>
{{- end }}

{{- if ne .Lang "fr" }}
<section class="uk-background-muted uk-padding-small uk-text-center uk-margin-top">
    <div><i>{{ $.Replace ($.ReplaceEmail ($.T "Need_help_prompt")) "#email#" $.Constants.Email 1 }}</i></div>
</section>
{{- end }}

{{end}}


<script>
    let likeId = -1;
    let randomNumber = -1;

    function onClickLike() {
        var url = "{{ $viewModel.LikeURL }}";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                ({ likeId, randomNumber } = JSON.parse(xhr.responseText));
            }
        }
    }

    function onClickUpdateLike() {
        var url = "{{ $viewModel.UpdateLikeURL }}";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ likeId, randomNumber, userName: document.getElementsByName("userName")[0].value }));
        xhr.send();
    }

</script>

<div id="modal-group-prompt-username" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{ $.T "Thanks for your feedback" }} ❤️</h2>
        </div>
        <div class="uk-modal-body">
            <p>{{ $.T "What is your first name?" }}</p>
            <input class="uk-input" type="text" name="userName" placeholder='{{ $.T "Enter your first name or alias" }}'>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">{{ $.T "Close" }}</button>
            <a href="#modal-group-thank-you" class="uk-button uk-button-primary" uk-toggle onClick="onClickUpdateLike()">{{ $.T "Save" }}</a>
        </div>
    </div>
</div>

<div id="modal-group-thank-you" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{ $.T "Thank you!" }} </h2>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">{{ $.T "Close" }}</button>
        </div>
    </div>
</div>

{{end}}

