{{define "body"}}

{{ $article := .Body }}

<a id="top" class="uk-button uk-button-text" href="{{ .MustGetURL "articles" }}">&#171; {{ .T "All_articles" }}</a>

{{ with $article}}

<article class="uk-article article">
    {{ if .ImageURL }}
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-inline" uk-img="" data-src="{{ .ImageURL }}">
        <h1 class="uk-article-title uk-overlay uk-overlay-default uk-position-bottom uk-margin-remove-bottom">{{ .Title }}</h1>
    </div>
    {{ else }}
    <h1 class="uk-article-title">{{ .Title }}</h1>
    {{ end }}
    <p class="uk-article-meta">
        <label>{{ $.T "Original article" }}: </label>
        <a href="{{ .OriginalURL }}" target="_blank" class="external">{{ .OriginalTitle }}</a>
        {{- if .OriginalAuthor }}
        by <em>{{ .OriginalAuthor }}</em>
        {{- end }}
        <!-- on <a href="{{ .OriginalURL }}" target="_blank">{{ .OriginalURL }}</a> -->
    </p>

    <section>{{ .HTML }}</section>
    <!-- <%=
    <section style="text-align: right">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ $.Meta.SocialURL }}&layout=button&size=large&width=112&height=28"
                width="112" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
           class="twitter-share-button"
           data-size="large"
           data-text="{{ .Title }}"
           data-url="{{ $.Meta.SocialURL }}"
           data-via="{{ $.Constants.TwitterHandle }}"
           data-lang="{{ .Lang }}"
           data-dnt="true"
           data-show-count="false">
         </a>
         <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
    %> -->
    <section class="uk-margin-top uk-padding-small">
        <div><i>{{ $.ReplaceEmail ($.T "Need_help_prompt") }}</i></div>
    </section>

    <section class="uk-background-muted uk-padding-small uk-text-center">
        <div><i>{{ $.ReplaceURLPatternTemplate ($.ReplaceURLPattern ($.T "Follow_us") "facebook" (index $.Constants.FacebookURL .Lang)) "twitter" (print $.Constants.TwitterHost (index $.Constants.TwitterHandle .Lang)) }}</i></div>
    </section>

    <section class="uk-margin-top uk-grid-small uk-child-width-auto">
        <a href="#" onclick="window.scrollTo(0, 0)" class="uk-button uk-button-text">&#8963;{{ $.T "Back_to_top" }}</a>
        <!-- <%= link_to(likes_path(article_id: article.id, language: I18n.locale.to_s), class: 'uk-button uk-button-text', method: :post, remote: true) do %>
          <span id="likes-counter"><%= article_likes_count(article.likes_count) %></span>
          <%= t(:this_article_helped_me) %>
        <% end %> -->
        <a class="uk-button uk-button-text uk-align-right" href="{{ $.MustGetURL "articles" }}">&#171; {{ $.T "All_articles" }}</a>
    </section>

</article>

{{end}}
{{end}}

