{{define "body"}}

<!-- <% content_for :title, Constants::SITE_NAME + " - " + (t :Articles_about_Obsessive_Compusive_Disorder) %>
<% content_for :meta_description, (t :Home_meta) %> -->

{{ $viewModel := .Body }}
{{ $pageIndex := $viewModel.CurrentPageIndex }}
{{ $articles := $viewModel.Articles }}

<h1>{{ .T "Recent_articles" }}</h1>
<section class="articles-list">
    {{ range $articles }}
        <article class="uk-card uk-card-default uk-margin-bottom">

            <div class="uk-card-body">
                <img class="uk-margin-medium-left uk-margin-medium-bottom uk-float-right" style="width: 30%" src="{{ .Illustration.Md }}"/>
                <a class="uk-link-heading" href="{{ .URL }}">
                    <h3 class="uk-card-title uk-margin-small-bottom">{{ .Title }}</h3>
                </a>
                <span class="uk-display-block uk-margin-none-top">
                    {{- range .Tags }}
                        {{ $.Tag . }}
                    {{- end }}
                </span>
                {{ .HTMLShort }}
            </div>

            <div class="uk-card-footer">
                <a href="{{ .URL }}" class="uk-button uk-button-text">{{ $.T "Read_more" }}</a>
            </div>
        </article>
    {{ end }}
    {{ template "pagination" $viewModel.Pagination }}
</section>

{{end}}

