{{define "body"}}
<div>
    <h4>Planet OCD is a knowledge base on Obsessive Compulsive Disorder (OCD)</h4>
    <div>
        <h5>Please choose your language:</h5>
        <ul class="uk-subnav index-languages">
            <!-- https://github.com/hjnilsson/country-flags/blob/master/svg/fr.svg -->
            <li>
                <a href="/fr/">
                    <div>Français</div>
                    <img src="/static/images/flags/fr.svg"/>
                </a>
            </li>
            <li>
                <a href="/es/">
                    <div>Español</div>
                    <img src="/static/images/flags/es.svg"/>
                </a>
            </li>
            <li>
                <a href="/zh/">
                    <div>中文</div>
                    <img src="/static/images/flags/cn.svg"/>
                </a>
            </li>
        </ul>
    </div>
</div>
{{end}}

