{{define "body"}}
<div class="index_en uk-flex uk-flex-center">
    <div class="uk-margin-top">
        <div class="uk-text-lead uk-margin-bottom uk-text-center">Welcome to the knowledge base on Obsessive Compulsive Disorder (OCD)</div>
        <div class="uk-flex uk-flex-around  uk-flex-wrap">
            <!-- https://github.com/hjnilsson/country-flags/blob/master/svg/fr.svg -->
            <a class="uk-margin-top uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-card uk-card-body uk-card-default uk-link-toggle" href="/fr/">
                <div><img class="flag" src="/static/images/flags/fr.svg"/></div>
                <div class="uk-link-heading uk-margin-small-top">Français</div>
            </a>
            <a class="uk-margin-top uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-card uk-card-body uk-card-default uk-link-toggle" href="/es/">
                <div><img class="flag" src="/static/images/flags/es.svg"/></div>
                <div class="uk-link-heading uk-margin-small-top">Español</div>
            </a>
            <!-- <a class="uk-margin-top uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-card uk-card-body uk-card-default uk-link-toggle" href="/zh/">
                <div><img class="flag" src="/static/images/flags/cn.svg"/></div>
                <div class="uk-link-heading uk-margin-small-top">中文</div>
            </a> -->
        </div>
    </div>
</div>
{{end}}
