.article-metadata {

    margin-top: 1em;
    background-color: #eee;
    padding: 1em;

    label {
        font-weight: bold;
    }
}

.article {
    margin-top: 1em;
}

.article-excerpt {
    border: 1px solid #eee;
    padding: 1em;
    max-height: 400px;
    overflow: hidden;
}

.external-link {
    &:after {
        height: 10px;
        width: 10px;
    }
}

.public-notes {
    margin-top: 1em;
    padding: 1em;
    background-color: #eee;

    label {
        display: inline;
        font-weight: bold;
    }

    p {
        display: inline;
        margin: 0;
    }
}